<!DOCTYPE html>
<html lang="en">

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<body>
<a href="/logout/" >
    <button  target="_blank" style="float:right;" >Logout</button>
</a>
<a href="/setpassword/" >
    <button  target="_blank" style="float:right;" >Reset Password</button>
</a>
<br>
<span id="info" style="float:right" >
{% if user.is_authenticated %}
    <p><b>User -</b> {{ user.get_username}}. <b>Mail - </b>{{ user.email}}.</p>
    <p><b>first name -</b> {{ user.first_name}}. <b>last name - </b>{{ user.last_name}}.</p>
    <p><b>mobile_number -</b> {{ user.profile.mobile_number}}. <b>address- </b>{{ user.profile.address}}.</p>
{% endif %}
</span>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<div style="float:right" >

<form action="/profile-handle/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Edit">
</form>





    <!--<p><b>First Name -</b> {{form.first_name}}.</p>
    <p><b>Last Name -</b> {{form.last_name}}.</p>
    <p><b>Date of Birth -</b> {{form.birth_date}}.</p>
    <p><b>Mobile Number -</b> {{form.mobile_number}}.</p>
    <p> <b>Address - </b>{{ user.address}}.</p>
    <p><b>Country -</b> {{form.country}}.</p>-->
<!--<form action="/profile-handle/" method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="dob">Date of Birth:</label>
    <input type="text" id="dob" name="dob"><br><br>
    <label for="mob">Mobile Number:</label>
    <input type="text" id="mob" name="mob"><br><br>
   <label for="add">Address :</label>
    <input type="text" id="add" name="fname"><br><br>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country"><br><br>
{% csrf_token %}
{{ form.as_p  }}
    <input type="submit" value="Submit">
</form>-->


</div>
</body>
</html>
